<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <meta charset="UTF-8">
    <title>Home - Portale Università</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<header>
    <section th:switch="${session.user.role.description}">
        <h1 th:case="'docente'">Benvenuto, <span th:text="${session.professor.name}">Utente</span>!</h1>
        <h1 th:case="'studente'">Benvenuto, <span th:text="${session.student.name}">Utente</span>!</h1>
    </section>
</header>

<hr>

<article th:switch="${session.user.role.description}">
    <!-- Sezione visibile solo ai DOCENTI -->
    <section th:case="'docente'">
        <h2>I tuoi corsi gestiti</h2>
        <table border="1">
            <thead>
            <tr>
                <th>Codice</th>
                <th>Nome</th>
                <th>CFU</th>
                <th>Anno</th>
                <th>Semestre</th>
                <th>Appelli</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="corso : ${session.professor.courses}">
                <td th:text="${corso.code}">INF101</td>
                <td th:text="${corso.name}">Programmazione 1</td>
                <td th:text="${corso.cfu}">6</td>
                <td th:text="${corso.year}">1</td>
                <td th:text="${corso.semester}">1</td>
                <td>
                    <nav th:each="appello : ${corso.appeals}">
                        <a th:href="@{/enrolled(appelloId=${appello.code})}"
                           th:text="${appello.dateTime}">test
                        </a>
                    </nav>
                </td>
            </tr>
            </tbody>
        </table>
    </section>

    <!-- Sezione visibile solo agli STUDENTI -->
    <section th:case="'studente'">
        <h2>I tuoi corsi nel piano di studi</h2>
        <table border="1">
            <thead>
            <tr>
                <th>Codice</th>
                <th>Nome Corso</th>
                <th>Docente</th>
                <th>CFU</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="corso : ${corsiIscritto}">
                <td th:text="${corso.codice}">INF101</td>
                <td th:text="${corso.nome}">Analisi 1</td>
                <td th:text="${corso.docente.nome}">Rossi</td>
                <td th:text="${corso.cfu}">6</td>
            </tr>
            </tbody>
        </table>
    </section>
</article>

<hr>

<footer>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</footer>
</body>
</html>
