<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <meta charset="UTF-8">
    <title>Modifica</title>
</head>
<body>
<header>
    <section>
        <h1>Modifica il voto per lo studente <span th:text="${studente.identifier}">pincopallino</span></h1>
    </section>
</header>
<article>
    <section>
        <table>
            <tbody>
                <tr th:each="iscritto : ${iscritti}">
                    <td th:text="${iscritto.student.identifier}"></td>
                    <td th:text="${iscritto.student.surname}"></td>
                    <td th:text="${iscritto.student.name}"></td>
                    <td th:text="${iscritto.student.email}"></td>
                    <td th:text="${iscritto.student.degree.name}"></td>

                    <!-- SELECT dinamica dei voti -->
                    <td>
                        <select name="voto" th:name="'voto_' + ${iscritto.student.identifier}">
                            <option value="">-- Seleziona voto --</option>
                            <option th:each="voto : ${votiPossibili}"
                                    th:value="${voto}"
                                    th:text="${voto}"
                                    th:selected="${voto == iscritto.vote}">
                            </option>
                        </select>
                    </td>

                    <td th:text="${iscritto.status}"></td>
                </tr>
            </tbody>
        </table>
    </section>

    <form th:action="@{/modifyVote}" method="post">
        <button type="submit">Modifica</button>
    </form>
</article>
</body>
</html>